/*.button1{*/

/*width:30px;*/
/*height:300px;*/
/*right:50px; //只是假设的数据，需要实际测量*/
/*top:40px;*/

/*}*/

button{
            width: 100px;
            height: 30px;
			background-color:transparent;
            border-style:none;
			color:black;
            /*value:500px;*/
            font-size: 20px;

        }