.button1{

width:300px;
height:300px;
right:500px; //只是假设的数据，需要实际测量
top:400px;

}

button{
            width: 500px;
            height: 100px;
			background-color:transparent;
            border-style:none;
			color:black;
            /*value:300px;*/
            font-size: 65px;

        }