* {
			margin: 0;
			padding: 0;
		}
		.out{
			width: 1000px;
			height: 400px;
			margin: 20px auto;
			overflow: hidden;
			text-align: center;
		}
		.btumm {
			text-align: center;
			padding-top: 50%;
		}
		.btumm pic {
			color:#1d5983;
				size:2px;
		}
		#banner {
			text-align: center;
			width: 1000px;
			height: 400px;
			padding: 0;
			position: absolute;
			overflow: hidden;
		}
		#banner ul {
			list-style: none;
			margin:0;
			padding: 0;
			position: absolute;
			width: 1000px;
		}
		#banner ul li {
			float: left;
			margin: 0;
			padding: 0;
		}
		#banner ul li img {
			width: 250px;
			height: 400px;
		}