


<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>丝芙兰最热销化妆品</title>
    <link href="{% static 'appzhu/css/index.css' %}" rel="stylesheet" type="text/css">
 <script type="text/javascript" src="{% static 'appzhu/js/js01.js' %}"></script>
</head>

<body>


<div class="button1">

<button onclick="method04()">返回团队主页</button><br>

</div>


  <div class="main">


    <div class="item">
      <div class="info">

        <h3>最畅销化妆品排名</h3>
		<p>by ZhuBing</p>
        <button onclick="method01()">view more</button><br>

      </div>
    </div>
    <div class="item">
      <div class="info">
         <h3>品牌分布</h3>
          <p>by ZhuBing</p>
        <button onclick="method02()">view more</button><br>
      </div>
    </div>
    <div class="item">
      <div class="info">
         <h3>价格分布</h3>
          <p>by ZhuBing</p>
          <button onclick="method03()">view more</button><br>
      </div>
    </div>
  </div>
</body>
</html>