appjia{
    font-family: 幼圆;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position:fixed;
    left:0;
    width:250px;
    height:100%;
    background: #042331;
}
.sidebar header{
    font-size:22px;
    color:white;
    text-align: center;
}
